<html>
<head>
	<title>The Imitation Game</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
        <h1 style="font-size:60px" align="center"><FONT FACE="EngraversGothic BT">THE IMITATION GAME:</FONT></h1>
        <h2 style="font-size:48px" align="center"><FONT FACE="EngraversGothic BT">Can machines be sociologists?</FONT></h2>
        <h3 style="font-size:48px" align="center">
        	<a href="/QA/">
        		<FONT FACE="EngraversGothic BT">Start</FONT>
        	</a>
        </h3>
</body>
</html>